.container{
    display: flex;
    background-color: #eee;
    justify-content: center;
}

.center{
   column-count: 3 ;
   width: 1200px;
}
.buscador{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
}